FRONTEND_PORT=4200
BACKEND_PORT=8080
MSSQL_PORT=1433
MSSQL_PID=Developer
MSSQL_SA_PASSWORD=ChangeMe123!
TODOAPP_DB_NAME=TodoAppDb
JWT_SIGNING_KEY=local-development-jwt-signing-key-change-before-production
